<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
 
    <div class="slider-container">
      <div class="slider2" [style.transform]="'translateX(-' + activeSlideIndex * 100 + '%)'">
        <div class="slide" *ngFor="let image of images">
          <img [src]="image" alt="Slide">
        </div>
      </div>
      <div class="prev-button" (click)="prevSlide()">&#8249;</div>
      <div class="next-button" (click)="nextSlide()">&#8250;</div>
    </div>

    <div class="text-section">
      <h2>Watches Unveiled in 2024</h2>
      <p>
        Watches unveiled in 2024 illustrated yet again our constant quest for
        innovation and excellence. Among them are new versions of the
        GMT-Master II, exclusive dials for the Day-Date, a 1908 in 950
        platinum, 18kt gold Jubilee bracelets for the Sky-Dweller, as well as
        gem-set versions of the Cosmograph Daytona, and the Rolex Explorer.
      </p>
    </div>

    <button mat-button color="warn" (click)="closeModal()">Close</button>
  </div>
</div>
