<div class="navbar-container">
  <div class="navbar row">
    <!-- Menu with vertical dashes -->
    <div class="menu col-4">
      <div class="menu-container">
        <div class="menu-bars-container">
          <div class="menu-bars"></div>
          <div class="menu-bars"></div>
        </div>
        <span class="menu-text">Menu</span>
      </div>
    </div>

    <!-- Center Logo -->
    <div class="epoxy-footer-left-img col-4">
      <img class="p-2" src="assets/images/logo.png" alt="Logo">
    </div>

    <!-- Icons on the right -->
    <div class="nav-icons col-4">
      <a href="#" class="nav-icon">
        <i class="fa fa-search"></i>
      </a>
      <a href="#" class="nav-icon">
        <i class="fa fa-map-marker"></i>
      </a>
      <a href="#" class="nav-icon">
        <i class="fa fa-heart"></i>
      </a>
    </div>
  </div>
</div>

<div class="slider">
  
  <div class="slider-dot" *ngFor="let section of sections; let i = index" [class.active]="i === activeSection"
    (click)="scrollToSection(i)"></div>
</div>


<div class="scroll-indicator">
  <i class="fa fa-chevron-down"></i>
</div>
<!-- الأقسام -->

<div class="parallax-section" *ngFor="let section of sections; 
     let i = index" [style.backgroundImage]="section.type === 'image' ? 
     'url(' + section.url + ')' : null">

  <div class="scroll-indicator">
    <i class="fa fa-chevron-down"></i>
  </div>
  <video *ngIf="section.type === 'video'" autoplay muted loop class="background-video">
    <source [src]="section.url" type="video/webm">
  </video>
  <div class="text-overlay">
    <h1>{{ section.title }}</h1>
    @if(i==0)
    {
      <a href="#" class="btn" (click)="openModal()">
        Learn More
      </a>
    }
    @else {
      <a [routerLink]="section.redirectTo" class="btn">
        Learn More
      </a>
    }
  </div>
</div>

<app-modal *ngIf="isModalOpen" (close)="closeModal()"></app-modal>