

 <div class="parallax-section" *ngFor="let section of sections; let i = index"
     [style.backgroundImage]="section.type === 'image' ? 'url(' + section.url + ')' : null">

  <div class="scroll-indicator">
    <i class="fa fa-chevron-down"></i>
  </div>

  <video *ngIf="section.type === 'video'" autoplay muted loop class="background-video">
    <source [src]="section.url" type="video/webm">
  </video>

  <div class="text-overlay">
    <h1 *ngIf="i === 4">{{ section.title }}</h1>
    <h2 *ngIf="i !== 4">{{ section.title }}</h2>

    <a href="#" class="btn" *ngIf="i === 0" (click)="openModal()">Learn More</a>

    <a href="#" class="btn" *ngIf="i === 3 && section.images?.length" 
       (click)="openSliderModal(section.images!)">
      Learn More
    </a>
    <a [routerLink]="section.redirectTo" class="btn" *ngIf="i !== 0 && i !== 3">Learn More</a>
  </div>
</div>

<!-- New Slider Modal -->
<app-modal *ngIf="isModalOpen" (close)="closeModal()">
  <p>This is the default modal content.</p>
</app-modal>
<app-slider-modal *ngIf="isSliderModalOpen" [images]="sliderImages" (close)="closeSliderModal()">
</app-slider-modal>
