<div class="navbar-container">
    
    <div class="navbar row">
      <div class="menu col-4">
        <span>☰ Menu</span>
      </div>
      <div class="logo col-4">
        <img class="p-2" src="assets/images/logo.png" alt="Logo">
      </div>
      <div class="nav-icons col-4">
        <a href="#" class="nav-icon">
          <i class="fa fa-search"></i>
        </a>
        <a href="#" class="nav-icon">
          <i class="fa fa-map-marker"></i>
        </a>
        <a href="#" class="nav-icon">
          <i class="fa fa-heart"></i>
        </a>
      </div>
    </div>
  
</div>
 
<div class="slider">

  <div
    class="slider-dot"
    *ngFor="let section of sections; let i = index"
    [class.active]="i === activeSection"
  ></div>
  
</div>

<div class="scroll-indicator">
  <i class="fa fa-chevron-down"></i>
</div>
  <!-- الأقسام -->

  <div class="parallax-section" style="background-image: url('assets/images/floor1.jpg')">
    <div class="scroll-indicator">
      <i class="fa fa-chevron-down"></i>
    </div>
  
    <div class="text-overlay">
      <h1>Jackys Home Decor</h1>
      
      <h2>Transforming Floors, Walls, and Spaces Beyond Imagination</h2>
      <a href="#" class="btn" (click)="openModal()">Learn More</a>
    </div>
  </div>

<div class="parallax-section" *ngFor="let section of sections; 
     let i = index"[style.backgroundImage]="section.type === 'image' ? 
     'url(' + section.url + ')' : null">
  
    <div class="scroll-indicator">
        <i class="fa fa-chevron-down"></i>
    </div>
    <video *ngIf="section.type === 'video'"  autoplay  muted loop class="background-video">
        <source [src]="section.url" type="video/webm" />
    </video>
    <div class="text-overlay">
        <h2>{{ section.subtitle }}</h2>
        <h1>{{ section.title }}</h1>
        <a [routerLink]="section.redirectTo" class="btn">Learn More</a>
    </div> 
</div>


<app-modal *ngIf="isModalOpen"  (close)="closeModal()"></app-modal>

