<div>
  <div
    *ngFor="let section of sections; let i = index"
    [class.active]="i === activeSection">
  </div>  
</div>

<div class="parallax-section" *ngFor="let section of sections; 
     let i = index"[style.backgroundImage]="section.type === 'image' ? 
     'url(' + section.url + ')' : null">

    <video *ngIf="section.type === 'video'"  autoplay  muted loop class="background-video">
        <source [src]="section.url" type="video/webm" />
    </video>
    <div class="text-overlay">
        @if(i==0){
          <h1>{{ section.title }}</h1>
        }
        @else
        {
          <div class="row text-start"> 
            <div class="col-1"></div>
            <div class="col-9">
              <h2 class="note">{{ section.service }}</h2>
            </div>
          </div>
        }
    </div> 
</div>


