
 
<div>
  <div *ngFor="let section of sections; let i = index"
    [class.active]="i === activeSection">
  </div>
</div>


<div class="parallax-section" *ngFor="let section of sections; 
     let i = index"[style.backgroundImage]="section.type === 'image' ? 
     'url(' + section.url + ')' : null">
  
    <video *ngIf="section.type === 'video'"  autoplay  muted loop class="background-video">
        <source [src]="section.url" type="video/webm" />
    </video>
    <div class="text-overlay">
        <h2>{{ section.subtitle }}</h2>
        <h1>{{ section.title }}</h1>
        <a [routerLink]="section.redirectTo" class="btn">Learn More</a>
    </div> 
</div>


