<router-outlet />

<div class="footer-share m-5 p-5">
    <span class="footer-share-text">Follow us</span>
    <div class="footer-icons">
      <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
      <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      <fa-icon [icon]="['fab', 'pinterest-p']"></fa-icon>
      <fa-icon [icon]="['fab', 'weibo']"></fa-icon>
    </div>
  </div>

  <div class="row epoxy-footer">
    <div class="col-6 epoxy-footer-left">
      <div>
        <img class="epoxy-footer-left-img" src="assets/images/logo.png" alt="Logo">
      </div>
      <div>
        <h1>Jackys Home Decor</h1>
      </div>
    </div>
    <div class="col-6 epoxy-footer-right">
      <h2>Our Values</h2>
      <ul>
        <li>
          <h3><span style="font-size: larger;">Creativity:</span> Turning spaces into innovative works of art</h3>
        </li>
        <li>
          <h3><span style="font-size: larger;">Quality:</span> Delivering the highest standards of craftsmanship using the best materials</h3>
        </li>
        <li>
          <h3><span style="font-size: larger;">Commitment:</span> Exceptional service that ensures customer satisfaction.</h3>
        </li>
      </ul>
    </div>
  </div>



  