<router-outlet />

<div class="footer-share m-5 p-5">
    <span class="footer-share-text">Follow us</span>
    <div class="footer-icons">
      <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon>
      <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      <fa-icon [icon]="['fab', 'pinterest-p']"></fa-icon>
      <fa-icon [icon]="['fab', 'weibo']"></fa-icon>
    </div>
  </div>

  <div class="row epoxy-footer">
    <div class="col-4 epoxy-footer-left">
      <div>
        <img class="p-2 epoxy-footer-left-img" src="assets/images/logo.png" alt="Logo">
      </div>
      <div>
        <h1>Jackys Home Decor</h1>
      </div>
    </div>
    <div class="col-8 epoxy-footer-right">ggggggggg</div>
  </div>