

<div>
  <div
    *ngFor="let section of sections; let i = index"
    [class.active]="i === activeSection">
  </div>
</div>

<div class="parallax-section" *ngFor="let section of sections; 
     let i = index"[style.backgroundImage]="section.type === 'image' ? 
     'url(' + section.url + ')' : null">
  
    
    <video *ngIf="section.type === 'video'"  autoplay  muted loop class="background-video">
        <source [src]="section.url" type="video/webm" />
    </video>
    <div class="text-overlay">
        @if(i==0){
          <h2>{{ section.title }}</h2>
        }
        @else if(i==1 || i==2 || i==3)
        {
          <div class="row text-start"> 
            <div class="col-1"></div>
            <div class="col-10">
              <h2 class="note">{{ section.service }}</h2>
            </div>
          </div>
        }
        @else if(i==5)
        {
          <div class="row text-start"> 
            <div class="col-1"></div>
            <div class="col-8">
              <h2 class="m-4" [class.visible]="isTextVisible">{{ section.service }}</h2>
            </div>
          </div>
        }
    </div> 
</div>


